.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: transparent;
  padding: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  margin-top: 1rem;
}



/* Ensure centering in the CommonLayout body */
/* Ensure centering in the CommonLayout body */
.form {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .form {
    padding: 1.5rem;
    max-width: 90%;
    margin-top: 0.5rem;
  }
}